{% extends "author/base.html" %}

{% block content %}
<h2>Books</h2>
<a href="{% url "create_book" %}"><button>Add new book</button></a>
{% for book in page_obj %}
    
    <ul>
        
            <li>{{ book.book_title }}</li>
            <li>{{ book.book_description }}</li>
            <li>{{ book.genres }}</li>
            <li>{{ book.author.name }}</li>
            <a  href="{% url "book_detail"  book.id  %}">View details</a>
        
        
    </ul>
{% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}